---
import Layout from '../../layouts/Layout.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
---

<Layout>
	<main class="pt-20">
		<Contact />
	</main>
	<Footer />
</Layout>
