---
import Layout from '../../layouts/Layout.astro';
import Projects from '../../components/Projects.astro';
import Footer from '../../components/Footer.astro';
---

<Layout>
	<main class="pt-20">
		<Projects showOthers={true} showViewAllCta={false} />
	</main>
	<Footer />
</Layout>
